#exportPattern("^[[:alpha:]]+")
export(peak,kplot,ACERm,CI,eta1,updatecond,MSEoptimization,ACER)
S3method(ACERm,default)
S3method(CI,ACER)
S3method(updatecond,ACER)
S3method(plot,ACER)
S3method(MSEoptimization,ACER)
S3method(predict,ACER)
S3method(ACER,default)
S3method(print,ACER)
S3method(summary,ACER)
S3method(print,summary.ACER)
import(methods)
import(minpack.lm)
import(Quandl)